:root {
  --contrast-color: #1b3817;
  --main-color: #669966;
  --terceary-color: #ade0e0;

  --other-color: #ffcc66;

  --close-color: #993333;

  --color-light: #f3f3f3;
  --color-less-light: #dddcdc;
  --color-grey: #5f5f5f;
  --color-less-dark: #3b3b3b;
  --color-dark: #1d1d1d;

  --deskbar-color: rgba(221, 220, 220, 0.6);
  --deskbar-window-appearing-color: rgba(221, 220, 220, 0.8);
  --deskbar-span-color: var(--deskbar-window-appearing-color);
  --start-menu-color: rgba(221, 220, 220, 0.8);
  --start-menu-emphasis: var(--deskbar-window-appearing-color);
  --start-menu-category: rgba(255, 255, 255, 0.5);
  --window-backgroud-color-default: var(--deskbar-color);
  --window-text-color-default: var(--color-dark);
  --search-icon-container-color: var(--deskbar-window-appearing-color);
  --search-mostUsed-color: rgba(100, 100, 100, 0.8);
}
