.menuStart {
  position: absolute;
  bottom: 40px;
  left: 0px;
  height: 600px;
  width: 500px;
  background-color: var(--start-menu-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: var(--color-dark);
}

.menuStart > ul {
  margin: 10px;
  padding-bottom: 5px;
}

.menuStart > ul:nth-of-type(n + 2) {
  border-top: rgba(255, 255, 255, 0.4) 1px solid;
}

.menuStart > ul > span {
  display: block;
  padding: 10px 5px;
}

.menuStart > ul > li {
  /* display: flex; */
  list-style: none;
  display: inline-block;
  margin: 2px;
  height: 90px;
  width: 90px;
  background-color: var(--start-menu-icon-color);
  border: rgba(255, 255, 255, 0.5) 1px solid;
  text-align: center;
  transition: background 300ms ease;
}

.menuStart > ul > li:hover {
  background-color: var(--start-menu-icon-hover-color);
  border: rgba(255, 255, 255, 0.7) 1px solid;
}

.menuStart > ul > li > img {
  height: 60px;
}

.menuStart > ul > li > span {
  display: inline-block;
  width: 100%;
  font-size: 0.8em;
}
