.searchResult {
  position: absolute;
  top: calc(-75vh - 10px);
  left: 5px;
  height: clamp(260px, 75vh, 900px);
  width: clamp(225px, 50vw, 600px);
  background-color: var(--search-icon-container-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: var(--color-dark);
}

.searchResult > ul {
  background-color: var(--start-menu-emphasis);
}

.searchResult > ul > span {
  display: block;
  padding: 5px;
  background-color: var(--start-menu-category);
  border-left: var(--main-color) 4px solid;
}

.searchResult > ul > li {
  padding: 2.5px;
  transition: background 300ms linear;
}

.searchResult > ul > li:first-of-type {
  padding-top: 5px;
}

.searchResult > ul > li:last-of-type {
  padding-bottom: 5px;
}

.searchResult > ul > li:hover {
  background-color: var(--start-menu-category);
}

.searchResult > ul > li > img {
  height: 15px;
}

.searchResult > div:last-of-type {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.searchResult > div:last-of-type > label {
  position: absolute;
  display: inline-block;
  height: 100%;
  padding: 0px 10px 0px;
  background-color: var(--color-less-light);
}

.searchResult > div:last-of-type > label > img {
  height: 13px;
  width: 13px;
  vertical-align: -webkit-baseline-middle;
}

.searchResult > div:last-of-type > input[type="search"] {
  display: inline-block;
  width: 100%;
  background-color: var(--color-dark);
  padding: 5px 5px 5px 35px;
  border-radius: 0;
  border: var(--color-grey) 2px solid;
  color: var(--color-light);
  font-weight: normal;
}

.mostUses {
  background: var(--color-grey);
  color: var(--color-less-light);
}

.mostUses > span {
  display: block;
  padding: 7.5px;
  background-color: var(--color-dark);
}
.mostUses > li {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 85px;
  padding: 5px;
  text-align: center;
  margin: 1.5px;
  font-size: 13px;
  transition: all 100ms linear;
}

.mostUses > li:hover {
  transform: scale(1.03);
}

.mostUses > li > img {
  margin: 7.5px auto 0;
  display: block;
  height: 40px;
}

.mostUses > li > span {
  position: absolute;
  bottom: 7.5px;
  width: 100%;
  left: 0;
  right: 0;
}
